#menu-2.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-2 .mbr-navbar__section {
}
#msg-box3-4 P {
	text-align: center;
}
#msg-box3-4 H2 {
	font-size: 46px;
}
#msg-box3-24 H2 {
	color: #ffffff;
}
#msg-box3-24 P {
	color: #ffffff;
}
#msg-box3-5 H2 {
	font-size: 46px;
	color: #ffffff;
}
#msg-box2-28 H2 {
	color: #ffffff;
}
#features1-7 P {
	text-align: center;
	color: #efefef;
}
#features1-7 H3 {
	color: #ffffff;
}
#msg-box2-29 H2 {
	color: #ffffff;
}
#features1-8 P {
	text-align: center;
	color: #efefef;
}
#features1-8 H3 {
	color: #ffffff;
}
#features1-9 P {
	text-align: center;
	color: #efefef;
}
#features1-9 H3 {
	color: #ffffff;
}
#features1-10 P {
	text-align: center;
	color: #efefef;
}
#features1-10 H3 {
	color: #ffffff;
}
#features1-11 P {
	text-align: center;
	color: #efefef;
}
#features1-11 H3 {
	color: #ffffff;
}
#msg-box2-30 H2 {
	color: #ffffff;
}
#features1-31 P {
	text-align: center;
	color: #efefef;
}
#features1-31 H3 {
	color: #ffffff;
}
#msg-box2-20 H2 {
	color: #ffffff;
}
#features1-19 P {
	color: #efefef;
	text-align: center;
}
#features1-19 H3 {
	color: #ffffff;
}
#msg-box2-27 H2 {
	color: #ffffff;
}
#features1-28 P {
	text-align: center;
	color: #efefef;
}
#features1-28 H3 {
	color: #ffffff;
}
#msg-box2-17 H2 {
	color: #ffffff;
}
#features1-18 P {
	text-align: center;
	color: #efefef;
}
#features1-18 H3 {
	color: #ffffff;
}
#msg-box3-23 H2 {
	font-size: 46px;
}
#msg-box3-19 H2 {
	font-size: 25px;
	text-align: left;
}
#msg-box3-19 P {
	font-size: 17px;
	color: #000000 !important;
}
#msg-box3-21 H2 {
	text-align: left;
}
#msg-box3-20 H2 {
	text-align: left;
}
#msg-box3-16 H2 {
	font-size: 46px;
	color: #ffffff;
}
#content4-13 H3 {
	color: #ffffff;
}
#content4-13 P {
	color: #efefef;
}
