#gylee_pic { 
//이규영 박사4기;
				background-image:url("../images/no_pic.jpg");
				width:120px; 
				height:150px;
				float:left;
}
#mskim_pic {
//김민수 박사5기;

				background-image:url("../images/no_pic.jpg");
				width:120px; 
				height:150px;
				float:left;
}			

#ysyoo_pic {
//유수연 박사5기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#khkim_pic {
//김기환 박사6기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#hjlee_pic {
//이호준 박사6기;
				background-image:url("../images/hjlee1.png");
				width:120px; 
				height:150px;
				float:left;
}			

#djjung_pic {
//정동재 박사6기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			



#dhjang_pic {
//장대희 석사3기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#jhkim_pic {
//김종환 석사4기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#jsnoh_pic {
//노지성 석사4기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#jsjang_pic {
//장진수 석사4기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}		

#chchoi_pic {
//최창호 석사4기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#sjkong_pic {
//공선준 석사5기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			

#dgkim_pic {
//김대경 석사5기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			
		

#shlee_pic {
//이승현 석사5기;
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}			
	

#jhlee_pic {
//이재혁 석사5기';
				background-image:url("../images/no_pic.png");
				width:120px; 
				height:150px;
				float:left;
}	


			
//			#ms0_pic { background-image:url("../images/ksj.gif"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms1_pic { background-image:url("../images/kgd.gif"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms2_pic { background-image:url("../images/kjh.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms3_pic { background-image:url("../images/njs.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms4_pic { background-image:url("../images/jdh.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms5_pic { background-image:url("../images/lsh.gif"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms6_pic { background-image:url("../images/jjs.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#ms7_pic { background-image:url("../images/cch2.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#phd1_pic { background-image:url("../images/kkh.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#phd2_pic { background-image:url("../images/kms.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#phd3_pic { background-image:url("../images/lhj.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#phd4_pic { background-image:url("../images/jdj.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
//#phd5_pic { background-image:url("../images/lgy.jpg"); background-position: 50% 50%; background-repeat: no-repeat;}
