#bottom {
	//background-color:green;
	color:#aaa;
	padding:0px 5px;
	//text-align:center;
	font-size:9pt;
	height:60px;
	//font-style:italic;
	font-family :'arial';
	font-weight:100;
}

#kaist_logo {
	//background-color:green;
	background-image:url("../images/kaist_logo.png");;
	float:right;
	width:100px;
	height:28px;
}