#msg-box3-4 P {
	text-align: center !important;
}
#msg-box3-4 H2 {
	font-size: 46px !important;
}
#msg-box3-24 H2 {
	color: #ffffff !important;
}
#msg-box3-24 P {
	color: #ffffff !important;
}
#msg-box3-5 H2 {
	font-size: 46px !important;
	color: #ffffff !important;
}
#msg-box2-28 H2 {
	color: #ffffff !important;
}
#features1-7 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-7 H3 {
	color: #ffffff !important;
}
#msg-box2-29 H2 {
	color: #ffffff !important;
}
#features1-8 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-8 H3 {
	color: #ffffff !important;
}
#features1-9 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-9 H3 {
	color: #ffffff !important;
}
#features1-10 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-10 H3 {
	color: #ffffff !important;
}
#features1-11 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-11 H3 {
	color: #ffffff !important;
}
#msg-box2-30 H2 {
	color: #ffffff !important;
}
#features1-31 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-31 H3 {
	color: #ffffff !important;
}
#msg-box2-20 H2 {
	color: #ffffff !important;
}
#features1-19 P {
	color: #efefef !important;
	text-align: center !important;
}
#features1-19 H3 {
	color: #ffffff !important;
}
#msg-box2-27 H2 {
	color: #ffffff !important;
}
#features1-28 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-28 H3 {
	color: #ffffff !important;
}
#msg-box2-17 H2 {
	color: #ffffff !important;
}
#features1-18 P {
	text-align: center !important;
	color: #efefef !important;
}
#features1-18 H3 {
	color: #ffffff !important;
}
#msg-box3-23 H2 {
	font-size: 46px !important;
}
#msg-box3-19 H2 {
	font-size: 25px !important;
	text-align: left !important;
}
#msg-box3-19 P {
	font-size: 17px !important;
}
#msg-box3-22 H2 {
	text-align: left !important;
}
#msg-box3-22 P {
	color: #777777 !important;
}
#msg-box3-21 H2 {
	text-align: left !important;
}
#msg-box3-20 H2 {
	text-align: left !important;
}
#msg-box3-16 H2 {
	font-size: 46px !important;
	color: #ffffff !important;
}
#content4-13 H3 {
	color: #ffffff !important;
}
#content4-13 P {
	color: #efefef !important;
}
